---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <h3 class="text-3xl text-center">about me</h3>
  <p class="text-justify">A final year Computer Science student who has an interest in creative and technology fields. Faiz has a high level of curiosity, able to take the initiative and think critically, is full of consideration, and never runs out of ambitions. Faiz always looks for opportunities to develop his capacity, both in terms of soft skills and technical skills.</p>
</Layout>