---
import { Image } from "astro:assets"
import Layout from "../layouts/Layout.astro"
import profile from "../img/profile.jpg"
---

<Layout title="About Me">
  <main class="mx-auto max-w-screen-sm mb-24">
    <h2 class="text-4xl text-primary text-center font-bold my-6">About Me</h2>
    <div class="my-4">
      <Image src={profile} alt="Faiz Byputra" width="180" height="180" class="mx-auto" />
      <!-- <img src="/src/img/profile.jpg" alt="Faiz Byputra" width="180" height="180" class="mx-auto"> -->
      <h3 class="text-center text-3xl font-bold mt-2">Faiz Byputra</h3>
    </div>
    <p class="text-justify mb-4">A Computer Science graduate interested in creative and technology fields. Faiz has a high level of curiosity, able to take the initiative and think critically, is full of consideration, and never runs out of ambitions. Faiz always looks for opportunities to develop his capacity, both in terms of soft skills and technical skills.</p>
    <div class="flex justify-end">
      <a href="mailto:faizbyp@gmail.com" target="_blank" class="underline hover:text-primary transition"><i class="bi bi-envelope-fill"></i> faizbyp@gmail.com</a>
    </div>
  </main>
</Layout>