---
import Layout from "../layouts/Layout.astro"
import Section from "../components/Section.astro"

import writings from "../content/writings.json"
import designs from "../content/designs.json"
import codes from "../content/codes.json"
import misc from "../content/misc.json"
---

<Layout title="faizbyp - tech storyweaver">
	<header class="py-20 grid place-content-center text-center">
		<h3 class="text-5xl font-bold">tech storyweaver</h3>
		<p class="mt-2 mb-4">Frontend Engineer • Technical Content Writer • Graphic Designer</p>
		<div class="flex justify-center">
			<a href="/about" class="bg-primary text-white text-lg px-3 py-2 rounded-lg hover:scale-105 focus:scale-100 focus:opacity-75 transition"><i class="bi bi-person-fill"></i> About Me</a>
		</div>
	</header>

	<nav class="mb-6 text-center md:text-left">
		<h2 class="text-3xl text-primary font-bold">Table of Content</h2>
		<ol class="my-2 text-xl underline space-y-1">
			<li><a href="#codes" class="hover:text-primary focus:text-primary transition">Codes</a></li>
			<li><a href="#writings" class="hover:text-primary focus:text-primary transition">Writings</a></li>
			<li><a href="#designs" class="hover:text-primary focus:text-primary transition">Designs</a></li>
			<li><a href="#misc" class="hover:text-primary focus:text-primary transition">Misc</a></li>
			<li><a href="#contact" class="hover:text-primary focus:text-primary transition">Contact</a></li>
		</ol>
	</nav>

	<Section data={codes} category="Codes" />
	<Section data={writings} category="Writings" />
	<Section data={designs} category="Designs" />
	<Section data={misc} category="Misc" />

	<section id="contact" class="text-center py-14">
		<h2 class="text-5xl text-primary font-bold mb-10">Get in touch with me</h2>
		<form action="https://mailto:faizbyp@gmail.com" method="POST" enctype="text/plain" class="mx-auto w-full md:w-3/4">
			<textarea name=" " placeholder="Write me some messages — faizbyp@gmail.com" rows="8" class="bg-slate-200 rounded-lg px-4 py-3 w-full"></textarea>
			<button type="submit" class="bg-primary text-white text-lg px-12 py-2 rounded-lg hover:scale-105 focus:scale-100 focus:opacity-75 transition mt-2">Send</button>
		</form>
	</section>

</Layout>