---
import Layout from "../layouts/Layout.astro"
import Section from "../components/Section.astro"

import writings from "../contents/writings.json"
import designs from "../contents/designs.json"
import codes from "../contents/codes.json"
---

<Layout title="faizbyp - tech storyweaver">
	<header>
		<h3 class="text-3xl italic">tech storyweaver</h3>
		<a href="/about">
			<p class="hover:underline">
				A final year Computer Science student who has an interest in creative and technology fields. Faiz has... <span class="text-primary">Show more</span>
			</p>
		</a>
	</header>

	<nav class="mt-10 mb-6">
		<h2 class="text-3xl text-primary font-bold">Table of Content</h2>
		<ol class="list-[upper-roman] ml-10 my-2 text-xl underline space-y-1">
			<li><a href="#codes" class="hover:text-primary transition">Codes</a></li>
			<li><a href="#designs" class="hover:text-primary transition">Designs</a></li>
			<li><a href="#writings" class="hover:text-primary transition">Writings</a></li>
			<li><a href="#misc" class="hover:text-primary transition">Misc</a></li>
		</ol>
	</nav>

	<Section data={codes} category="Codes" />
	<Section data={designs} category="Designs" />
	<Section data={writings} category="Writings" />

</Layout>