---
import Layout from "../layouts/Layout.astro"
import writings from "../contents/writings.json"
import Card from "../components/Card.astro"
---

<Layout title="faizbyp - tech storyweaver">
	<header>
		<h3 class="text-3xl italic">tech storyweaver</h3>
		<a href="/about">
			<p class="hover:animate-pulse">
				A final year Computer Science student who has an interest in creative and technology fields. Faiz has... <span class="text-primary">Show more</span>
			</p>
		</a>
	</header>

	<nav class="my-6">
		<h2 class="text-3xl text-primary">Table of Content</h2>
		<ol class="list-[upper-roman] ml-10 my-2 text-xl underline space-y-1">
			<li><a href="#writings">Writings</a></li>
			<li><a href="#designs">Designs</a></li>
			<li><a href="#codes">Codes</a></li>
			<li><a href="#misc">Misc</a></li>
		</ol>
	</nav>

	<section id="writings" class="mb-3">
		<h2 class="text-4xl text-primary text-center mb-2">Writings</h2>
		<article class="flex gap-3 justify-evenly">
			{writings.map((w) => (
				<Card data={w} />
			))}
		</article>
	</section>
</Layout>