---
import Layout from "../layouts/Layout.astro"
import Section from "../components/Section.astro"

import writings from "../contents/writings.json"
---

<Layout title="faizbyp - tech storyweaver">
	<header>
		<h3 class="text-3xl italic">tech storyweaver</h3>
		<a href="/about">
			<p class="hover:animate-pulse">
				A final year Computer Science student who has an interest in creative and technology fields. Faiz has... <span class="text-primary">Show more</span>
			</p>
		</a>
	</header>

	<nav class="my-16">
		<h2 class="text-3xl text-primary font-bold">Table of Content</h2>
		<ol class="list-[upper-roman] ml-10 my-2 text-xl underline space-y-1">
			<li><a href="#writings">Writings</a></li>
			<li><a href="#designs">Designs</a></li>
			<li><a href="#codes">Codes</a></li>
			<li><a href="#misc">Misc</a></li>
		</ol>
	</nav>

	<Section data={writings} category="Writings" />
	<Section data={writings} category="Designs" />
	<Section data={writings} category="Codes" />

</Layout>