---
import { ViewTransitions } from 'astro:transitions';
const {title} = Astro.props
import { fade } from 'astro:transitions';
---

<html lang="en" class="!scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="select-none">
		<main class="mx-4 my-6 text-secondary">
			<a href="/" class="text-5xl font-bold text-primary">—faizbyp</a>
			<article class="mx-auto mt-3 max-w-screen-lg">
				<slot transition:animate={fade({ duration: '0.6s' })}></slot>
			</article>
		</main>
		<footer class="bg-primary py-32">
			<div class="grid content-center justify-end max-w-screen-lg mx-auto">
				<h1 class="text-5xl font-bold text-white">—faizbyp</h1>
			</div>
		</footer>
	</body>
</html>
